:root {
    --background-color: #111;
    --text-color: #222;
    --animation-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: var(--background-color);
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}