.cards {
    width: 250px;
    padding: 20px;
    transition: all 0.3s;
    margin: 0 auto;
}

.cards:hover {
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

.image_box img{
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: block;
}

.details p:nth-child(1) {
    font-weight: bold;
    margin-top: 0.4rem;
}

.details p:nth-child(2) {
    color: gray;
    font-size: 0.8rem;
    margin-top: 0.4rem;
}

.details p:nth-child(3) {
    font-weight: bold;
    color: black;
    margin-top: 0.4rem;
}

.details button {
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--secondary-color);
    cursor: pointer;
    border-radius: 0.3rem;
    transition: all 0.4s;
    position: relative;
    left: 50%;
    margin-top: 1rem;
    transform: translateX(-50%);
}

.details button:hover {
    filter: brightness(0.9);
}