.pokeinfo {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    display: grid;
    place-content: center;
    visibility: visible;
    opacity: 1;
}

.pokeinfo-container {
    background: var(--bg-card-color);
    width: 400px;
    padding: 1rem;
    border-radius: 2rem;
}

.pokeinfo-image {
    width: 100px;
}

.pokeinfo-image img {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(50%);
}

.pokeinfo-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.pokeinfo-name h1 {
    text-transform: capitalize;
}

.abilities {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    line-height: 0rem;
    margin: 2rem 0;
}

.abilities-group {
    background: var(--type-color);
    padding: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 0.5rem;
}

.stat {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn {
    width: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid #fff;
}

.close {
    visibility: hidden;
    opacity: 0;
}